header {
  background-image: url("/images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: $spacing;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    padding-top: $spacing * 4;
    padding-bottom: $spacing * 2.5;
  }

  .header__links {
    display: flex;
    flex-direction: column;
    gap: $spacing;
  }

  .link {
    @include link;
    flex-shrink: 0;

    &.link--cyan {
      @include link-cyan;
    }

    &.link--blue {
      @include link-blue;
    }
  }
}
